$primary: #bf360c;
$primary-light: #f9683a;
$primary-dark: #870000;

$secondary: #ffd180;
$scondary-light: #ffffb1;
$secondary-dark: #caa052;

$white: #ffffff;
$black: #000000;

$backgound-dark: #e1e2e1;
$backgound-light: #f5f5f6;
